-#Patient About You Template
%h1 Tell us a little about yourself.
= render layout: 'form' do | patient_form |
  %h3 Account Information          
  = render :partial => "shared/patient_profile_account", :locals => {:patient => @patient, :patient_form => patient_form}
    