.themed-background-snow {
  background-color: #fff;
}

.themed-background-warning {
	background-color: #ff8a16;
}

.themed-background-info {
	background-color: #1ba4dc;
}

.themed-background-success {
	background-color: #179d00;
}