{{!-- <div class="striped-row col-md-12 no-gutter"> --}}
  <!--the data of License Type header-->
  <div class="general-column col-md-3 col-xs-3">
    <div class="cell-wrapper">
      <div class="cell">
        <span>
          {{insurance_name}}
        </span>
      </div>
    </div>
  </div>
  <!--the data of License header-->
  <div class="general-column col-md-2 col-xs-2">
    <div class="cell-wrapper">
      <div class="cell">
        <span>
          {{subscriber_id}}
        </span>
      </div>
    </div>
  </div>
  <!--the data of expiration header-->
  <div class="general-column col-md-2 col-xs-2">
    <div class="cell-wrapper">
      <div class="cell">
        <span>
           {{plan_name}}
        </span>
      </div>
    </div>
  </div>
  <!--the end of row-->
  <div class="general-column">
    <div class="cell-wrapper">
      <div class="cell">
        <a href="javascript:void(0)" class="text-danger delete-insurance">
          Delete
        </a>
      </div>
    </div>
  </div>
{{!-- </div> --}}