
<div id="banner">
  <div class="container">
    <h1>Build your online therapy practice.</h1>
    <h2> See your patients online, schedule appointments and manage billing. All in one place.</h2>
    <form class="row">
      <div class="col-md-2 col-md-offset-5">
       <a href="javascript:void(0)" class="btn btn-primary btn-block btn-lg sign-up-btn">Sign Up</a>
      </div>
    </form>
  </div>
</div>
<div class="white-wrapper">
  <div class="container inner">
    <div id="tab-carousel">
      <!-- Nav tabs -->
      <div class="tab-content text-center">
        <div class="tab-pane fade in active" id="home">
          <h5>Get new clients</h5>
          <p>We understand the value new clients bring to our therapists. We constantly strive to bring new patients to our platform, and ultimately, to you.</p>
        </div>
        <div class="tab-pane fade" id="profile">
          <h5>Manage your practice</h5>
          <p>Easily maintain your practice calendar; keep track of patient forms and therapy notes; process insurance claims and review billing history.</p>
        </div>
        <div class="tab-pane fade" id="messages">
          <h5>Secure</h5>
          <p>We value your privacy. Our platform is 100% HIPAA compliant, with full database encryption, frequent backups and powerful firewalls to protect our servers.</p>
        </div> 
        <div class="tab-pane fade" id="settings">
          <h5>Full Support</h5>
          <p>Not sure where to start? We’re here to help. eTherapi has a dedicated customer service team to take care of all your needs. Got a question? Need a demo? Just ask us.</p>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="tab active"><a href="#home" role="tab" data-toggle="tab"> 
          <div class="root"></div><div class="pin"></div><i class="icon-profile-male"></i>  Get New Clients</a>
        </li>
        <li class="tab"><a href="#profile" role="tab" data-toggle="tab">
          <div class="root"></div><div class="pin"></div><i class="icon-key"></i>  Manage your Practice</a>
          </li>
        <li class="tab"><a href="#messages" role="tab" data-toggle="tab">
          <div class="root"></div><div class="pin"></div><i class="icon-lock"></i>  Secure</a>
        </li>
        <li class="tab"><a href="#settings" role="tab" data-toggle="tab">
          <div class="root"></div><div class="pin"></div><i class="icon-chat"></i>  Full Support</a>
        </li>
      </ul>
    </div>  
  </div>
</div>
<div class="shot-wrapper">
  <div id="shotCarousel" class="carousel slide" data-ride="carousel"> 
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <img src="/img/shot-2.png" alt="shot"  class="img-responsive">
            </div>
            <div class="col-md-5">
              <h3>CREATE YOUR PUBLIC PROFILE</h3>
              <p>Easily create an online profile and add an introduction video. We’ll make sure your potential new patients see it. </p>
              <a href="javascript:void(0);" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <img src="/img/shot-3.png" alt="shot"  class="img-responsive">
            </div>
            <div class="col-md-5">
              <h3>ONLINE CALENDAR </h3>
              <p>Set your available times or sync with your Google calendar. Patients can see when you’re available and request a time that works for you.</p>
              <a href="javascript:void(0)" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <img src="/img/shot-4.png" alt="shot"  class="img-responsive">
            </div>
            <div class="col-md-5">
              <h3>MAKING THERAPY EASY</h3>
              <p>See your patients online from anywhere. We’ll send you and your patients email reminders of upcoming sessions.</p>
              <a href="javascript:void(0)" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <img src="/img/shot-7.png" alt="shot"  class="img-responsive">
            </div>
            <div class="col-md-5">
              <h3>ONLINE THERAPY NOTES</h3>
              <p>Take and store progress and therapy notes in one secure place. Easily download your notes any time you need them. </p>
              <a href="javascript:void(0)" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <img src="/img/shot-8.png" alt="shot"  class="img-responsive">
            </div>
            <div class="col-md-5">
              <h3>EASY BILLING AND INSURANCE CLAIMS</h3>
              <p>We verify insurance coverage prior to a session and can process an insurance claim for you. You can also elect to have your clients self-pay using a secure credit or debit card payment.</p>
              <a href="javascript:void(0)" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="left carousel-control" href="#shotCarousel" role="button" data-slide="prev">
      <img src="/img/prev.png" alt="prev">
    </a>
    <a class="right carousel-control" href="#shotCarousel" role="button" data-slide="next">
      <img src="/img/next.png" alt="next">
    </a>
  </div>
</div>

<div class="white-wrapper">
  <div class="container inner">
    <div class="section-title text-center"><h2>Select a <strong>plan</strong></h2></div>
    <div class="divide30"></div> 
    <div class="row">

      <div class="col-md-4">         
        <div class="pricing plan">
          <h3> INDIVIDUAL PRACTICE </h3>
          <div class="features">
            <ul>
              <li>Pay only for the online sessions you use</li>
              <li>Verification of patient insurance coverage </li>
              <li>Online calendaring and booking</li>
              <li>Progress and patient notes</li>
            </ul>
          </div>
          <h4> $4.99<span>/session</span> </h4>
        </div>
      </div>

      <div class="col-md-4">         
        <div class="pricing plan">
          <h3> SMALL PRACTICE </h3>
          <div class="features">
            <ul>
              <li>Unlimited online sessions for a single therapist only</li>
              <li>Verification of patient insurance coverage </li>
              <li>Online calendaring and booking</li>
              <li>Progress and patient notes</li>
            </ul>
          </div>
          <h4> $49.99<span>/month</span> </h4>
        </div>
      </div>
      <div class="col-md-4">         
        <div class="pricing plan">
          <h3> LARGE PRACTICE </h3>
          <div class="features">
            <ul>
              <li>Unlimited monthly sessions for multiple therapists</li>
              <li>Verification of patient insurance coverage </li>
              <li>Online calendaring and booking</li>
              <li>Progress and patient notes</li>
            </ul>
          </div>
          <h4> <a href="#">Contact us</a><span> for pricing</span> </h4>
        </div>
      </div>
    </div>
    <div class="actionBtn"><h3>All plans are free until September 2014</h3><a href="javascript:void(0)" class="btn btn-primary btn-lg sign-up-btn">Sign Up</a></div>
  </div>
</div>