<div tabindex="-1" role="dialog" aria-hidden="false" class="login-register modal" id="reset-password-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1>
          Reset your Password
        </h1>
      </div>
      <div class="modal-body">
        <!--Reminder Form-->
        <p>
          Enter the email address associated with your account, and we'll email you a link to reset your password.
        </p>
        <form class="form-horizontal form-bordered form-control-borderless" _lpchecked="1">
          <div class="form-group">
            <div class="col-xs-12 group-email">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-envelope">
                  </i>
                </span>
                <input name="reminder-email" placeholder="Email" type="text" class="form-control input-lg" id="email_forgotpass">
              </div>
              <p class="help-block error-message display-none"></p>
              <p class="notify-email-status display-none">The password reset email has been sent.</p>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="col-xs-12 text-right">
              <button type="button" class="btn btn-sm btn-info reset-password-btn">
                Reset Password
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 text-center">
              <span class="notice">
                Did you remember your password?
              </span>
              <a data-target="#login-modal" data-toggle="modal" class="login" href="javascript:void(0)">
                Log in
              </a>
            </div>
          </div>
        </form>
        <!--END Reminder Form-->
      </div>
    </div>
  </div>
</div>