
<div class="reset-password">
  <h1 class="text-center">
    Reset your Password
  </h1>
  <form class="form-horizontal form-bordered form-control-borderless">
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk">
            </i>
          </span>
          <input name="register-password" placeholder="Password" type="password" class="form-control input-lg" id="password">
        </div>
        <p class="help-block error-message"></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk">
            </i>
          </span>
          <input name="register-password-verify" placeholder="Verify Password" type="password" class="form-control input-lg" id="confirm_password">
        </div>
        <p class="help-block error-message"></p>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-xs-6 login-register">
        <a href="/site/terms" target="_blank" class="register-terms">
          Terms
        </a>
        <label data-toggle="tooltip" title="" class="switch switch-primary" data-original-title="Agree to the terms">
          <input name="register-terms" type="checkbox" class="agree">
          <span>
          </span>
        </label>
      </div>
      <div class="col-xs-6 text-right">
        <a type="button" class="btn btn-info save-btn">
          Save and Continue
        </a>
      </div>
    </div>
  </form>
</div>
