<div tabindex="-1" role="dialog" aria-hidden="false" class="general-modal modal" id="sign-up-confirmation-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">
          ×
        </button>
        <modal-title>
          Complete the Sign Up Process!
        </modal-title>
      </div>
      <div class="modal-body">
        <p>
          A confirmation email was sent to your email address. Please complete the sign up process by clicking on the link contained in the email.
        </p>
        <p class="instruction">
          After, please click on the Log in button.
        </p>
        <div class="text-center">
          <button type="button" data-toggle="modal" data-target="#login-modal" class="btn btn-info btn-large sign-in-btn">
            <span>
              Login
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>