
<div class="card-number-col col-style">
  <div class="cell-wrapper">
    <span class="cell">
      xxxx xxxx xxxx {{last4}}
    </span>
  </div>
</div>
<div class="name-card-col col-style">
  <div class="cell-wrapper">
    <span class="cell">
      {{name}}
    </span>
  </div>
</div>
<div class="expires-card-col col-style">
  <div class="cell-wrapper">
    <span class="cell">
      {{exp_month}}/{{exp_year}}
    </span>
  </div>
</div>
<div class="action-col col-style">
</div>
<div class="action-delete-col col-style">
  <div class="cell-wrapper">
    <div class="cell btn-delete">
      <a class="close">
        ×
      </a>
    </div>
  </div>
</div>