<div tabindex="-1" role="dialog" aria-hidden="true" class="general-modal modal" id="confirm-del-card">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">
          ×
        </button>
        <modal-title>
          Are you sure?
        </modal-title>
      </div>
      <div class="modal-body">
        <h3>
          Are you sure you want to delete this card?
        </h3>
        <div class="text-center">
          <button class="btn btn-info btn-yes">
            Yes
          </button>
          <a href="javascript:void(0)" data-dismiss="modal" class="text-danger link-confirm">
            No
          </a>
        </div>
      </div>
    </div>
  </div>
</div>