.overview-profile-content {
  padding: 0;
  margin: 0;
  list-style-type: none;

  // re-group general properties from the difference classes
  .right-content p,
  > li {
    margin-bottom: 30px;
  }

  .right-content p,
  .bottom-info {
    @include normal-font;
  }

  hgroup .medium-title,
  .top-info {
    color: #585858;
  }

  > li:last-child,
  hgroup {
    margin-bottom: 20px;
  }

  // style list-item of overview-profile-content
  > li {
    display: block;
    padding: 20px;
    @include radius(4px);
    background-color: #fff;
    border: 1px solid #dbe1e8;
  }
  .direction {
    float: left;
  }
  .left-content {
    width: 33%;
  }
  .right-content {
    width: 67%;
    padding-left: 20px;

    p {
      font-size: 14px;
      color: #000;
      word-wrap: break-word;
    }
  }

  .top-info {
    @include semi-bold-font;
    font-size: 16px;
  }

  .bottom-info {
    font-size: 13px;
    color: #3a3b3b;
  }

  // style the sub-content components
  .basic-info {
    width: 29%;
    .top-info {
      font-size: 24px;
      margin-bottom: 2px;
    }

    i {
      font-size: 22px;
      margin-right: 8px;
    }
  }

  .insurance-info {
    width: 41%;
    .top-info {
      margin-bottom: 5px;
    }
  }


  .insurance-info,
  .wrap-button {
    padding-top: 6px;
  }

  .wrap-button {
    width: 30%;
    text-align: right;
    button {
      padding: 8px 40px;
    }
  }

  // style hgroup
  hgroup {
    .medium-title {
      margin: 4px 0;
      @include bold-font;
      font-size: 18px;
    }

    .status {
      @include light-font;
      font-size: 16px;
      color: #394263;
    }
  }

}

@media (max-width: 1200px) {
  .overview-profile-content {
    .wrap-button {
      button {
        padding: 6px 12px;
      }
    }
  }
}


