.reset-password-container {
  padding: 120px 0;
}
.reset-password {
  position: relative;
  width: 480px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 52px;
  @include radius(4px);

  .login-register {
    padding-top: 8px;
  }

  .register-terms {
    padding-left: 12px;
  }

  form {
    margin: 0;
  }

  h1,
  button {
    background-color: #19a3dc;
  }

  h1 {
    @include bold-font;
    @include radius-position(top,left,4px);
    @include radius-position(top,right,4px);
    font-size: 24px;
    color: #fff;
    padding: 30px 0;
    margin-bottom: 0;
  }
  button {
    padding: 10px 30px;
  }
}
