.chosen-container-single {
  .chosen-single {
    div {
      b {
        position: absolute;
        right: 4px;
        top: 6px;
        background: url("../images/jquery.chosen/chosen-select-arrow.png") no-repeat 0px 2px;
      }
    }
  }
}