.chosen-container-multi {

  .chosen-choices {
    padding: 4px;

    .search-choice {
      background-color: #1ba4dc !important;
      height: 20px;

      span {
        color: #fff;
      }
    }

  }

}