.tagsinput {
  .tag {
    border: 1px solid #1ba4dc !important;
    background-color: #1ba4dc !important;
    font-weight: 600 !important;
    padding: 2px 20px 2px 5px !important;
    line-height: 13px !important;
  }
  .popover {
    display: none;
  }
}