// set display poperty in the validation

// for the therapist-summarynote-payment layouts
form{

  .help-block {
    display: none;
  }

  .has-error {
    .chosen-single {
      border: 1px solid #e74c3c;
    }
    .help-block {
      display: block;
    }
  }

}
