<form action="" class="navbar-form navbar-left header-form">
  <div class="form-group search-client">
    <select class="form-control select-chosen input-search" id="search-patient-txt">
      <option value="">
        Search Patients
      </option>
      
    </select>
    
  </div>
  <button class="btn add-client display-none" type="button">
    <i class="hi hi-plus">
    </i>
    Add Patient
  </button>
</form>