.btn-info {
	background-color: #0099d8;
	&:hover,
	&:active,
	&:focus {
		background-color: #0086be;
	}
}

.btn-success {
	background-color: #179d00;
	&:hover,
	&:active,
	&:focus {
		background-color: #148a00;
	}
}

.btn-success,
.btn-info,
.btn-warning {
	&:active {
    @include box-shadow(inset 0 8px 10px -10px rgba(0,0,0,0.8));
	}
}

.btn-warning {
	background-color: #ff8a16;
	&:hover,
	&:active,
	&:focus {
		background-color: #e07913;
	}
}

.switch-primary {
	input:checked + span {
		@extend .btn-info;
	}
}

