.text-primary {
	color: #1ba4dc;
}

.text-info {
	color: #0099d8 !important;
}

.text-success {
	color: #179d00 !important;
}

.text-danger {
	color: #f31100 !important;
}

.text-warning {
	color: #ff8a16;
}