<!--the data of state header-->
<div class="text-filling general-column">
  <div class="cell-wrapper">
    <div class="cell">
      <div class="input-group">
        <input type="text" placeholder="University of Chicago: PSY.D - 2001" value="{{value}}" class="form-control medium-form-control" /><span class="input-group-addon group-addon-lg"><i class="icon-graduation"></i></span>
      </div>
    </div>
  </div>
</div>
<!--the end of row-->
<div class="end-row general-column">
  <div class="cell-wrapper">
    <div class="cell"><a href="javascript:void(0)" class="del-btn"><i class="icon-cancel"></i></a>
    </div>
  </div>
</div>