<div class="notice" id="search-therapist-noresult">
  <p>
    We couldn't find any results that matched your criteria, but tweaking your search may help. Here are some ideas:
  </p>
  <!--instruction guide element-->
  <ul class="inst-guide">
    <li>
      <span>
        - Remove some filters.
      </span>
    </li>
    <li>
      <span>
        - Expand the area of your search.
      </span>
    </li>
  </ul>
</div>